<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <!--Spring主配置文件-->

    <!--整合mapper层，导入MyBatis和Spring整合的配置文件-->
    <import resource="Spring-Mapper.xml"/>

    <!--整合service层-->
    <import resource="Spring-Service.xml"/>

    <!--整合controller层，导入SpringMVC的配置文件-->
    <import resource="Spring-Controller.xml"/>

    <!--扫描util包-->
    <context:component-scan base-package="com.hackyle.ssm.util" />
</beans>