<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--与Spring整合后，因为像连接池之类的类全部交给Spring管理了，所以在MyBatis的配置文件内容将会很少-->
    <!--一般只会留下别名标签和设置标签-->

    <!--<settings>
        <setting name="" value=""/>
    </settings>-->

    <!--<mappers>
        <mapper resource="mapper/*.xml"/>
    </mappers>-->

</configuration>
