<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        Spring整合MyBatis专用配置文件
        Spring管理mapper层的配置文件，即将mapper层的所有类自动交给Spring管理
    -->

    <!--
        主要步骤：
        1.配置连接池（关联数据库配置文件）
        2.SqlSessionFactory
        3.配置实体映射XML文件
    -->

    <!--引入外部文件：引入外部的数据库配置文件-->
    <!--<context:property-placeholder location="classpath:database.properties"/>-->

    <!--
        配置连接池
    -->
    <!--这里可以使用Spring-JDBC提供的连接池实现与数据库的连接，当然也可以使用其他连接池，如C3P0，DBCP，Druid -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--配置连接池属性-->
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/kdb?useSSL=true&amp;charsetEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="hackyle"/>

        <!--从外部的配置文件中读取引入-->
        <!--<property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}" />-->
    </bean>

    <!--
        配置SqlSessionFactory
    -->
    <!--对于MyBatis来说，它就相当于原始JDBC中的连接池-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--绑定MyBatis配置文件-->
        <property name="configLocation" value="classpath:MyBatis-Config.xml"/>
        <property name="mapperLocations" value="classpath*:/mapper/*.xml"/>
    </bean>

    <!--配置mapper接口也可以注入到IOC容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.hackyle.ssm.mapper" />
    </bean>

</beans>
