<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5">

	<!-- 文件上传 -->
	<servlet>
		<servlet-name>UploadServlet01</servlet-name>
		<servlet-class>upload.UploadServlet01</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet01</servlet-name>
		<url-pattern>/upload/up01</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadServlet02</servlet-name>
		<servlet-class>upload.UploadServlet02</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet02</servlet-name>
		<url-pattern>/upload/up02</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- 文件下载 -->
	<servlet>
		<servlet-name>DownloadServlet01</servlet-name>
		<servlet-class>download.DownloadServlet01</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet01</servlet-name>
		<url-pattern>/download/down01</url-pattern>
	</servlet-mapping>


</web-app>