<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--
         Spring管理service层的配置文件，将service层的所有类自动交给Spring管理
    -->

    <!--
        主要步骤：
        1.支持扫描注解（将Service层的类交给Spring管理）
        2.事务、AOP切入
     -->

    <!--支持注解扫描-->
    <context:component-scan base-package="com.hackyle.ssm.service" />

    <!--除了使用注解，也可以使用bean标签将类交给Spring管理，例如：-->
    <!--<bean id="testService" class="com.hackyle.ssm.service.TestService">
        <property name="xxxMapper" ref="xxxMapper"/>
    </bean>-->


    <!--申明式事务配置-->
    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        &lt;!&ndash;注入数据源&ndash;&gt;
        <property name="dataSource" value="dataSource"/>
    </bean>-->

    <!--AOP的事务支持-->

</beans>
