<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hackyle.ssm.mapper.PersonMapper">

    <!--void addPerson(Person person);-->
    <insert id="addPerson" parameterType="com.hackyle.ssm.pojo.Person">
        insert into person(id,name,age,sex,address,tel,email) values (#{id},#{name},#{age},#{sex},#{address},#{tel},#{email})
    </insert>

    <!--void deletePerson(int id);-->
    <delete id="deletePerson" parameterType="_int">
        delete from person where id=#{id};
    </delete>

    <!--void updatePerson(int id);-->
    <update id="updatePerson" parameterType="com.hackyle.ssm.pojo.Person">
        update person set name=#{name},age=#{age},sex=#{sex},birthday=#{birthday},address=#{address},tel=#{tel},email=#{email}
        where id=#{id}
    </update>

    <!--List<Person> readAllPerson();-->
    <select id="readAllPerson" resultType="com.hackyle.ssm.pojo.Person">
        select * from person
    </select>

</mapper>
