<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.demo.susi.mapper.SmsRecordMapper">

    <resultMap id="BaseResultMap" type="com.ks.demo.susi.entity.SmsRecordEntity">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="mobilePhone" column="mobile_phone" jdbcType="VARCHAR"/>
        <result property="smsCode" column="sms_code" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <insert id="insert" parameterType="com.ks.demo.susi.entity.SmsRecordEntity">
        insert into tb_sms_record(mobile_phone,sms_code,status,remark) VALUES (#{mobilePhone},#{smsCode},#{status},#{remark})
    </insert>

    <update id="updateStatus">
        update tb_sms_record set status = #{status} where mobile_phone = #{mobilePhone}
    </update>
</mapper>
